@import '../../globals';
@import '../Header/Header';

// Quicksand font.
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url(/static/fonts/Quicksand/Quicksand-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url(/static/fonts/Quicksand/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/Quicksand/Quicksand-Bold.ttf) format('truetype');
}

// Lora font.
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Lora/Lora-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/Lora/Lora-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/Lora/Lora-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url(/static/fonts/Lora/Lora-BoldItalic.ttf) format('truetype');
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

  min-width: map-get($breakpoint-content-sizes, small);
  margin: 0;

  @include break(medium) {
    font-size: 1.4rem;
  }

  @include break(small) {
    font-size: 1.3rem;
  }
}

::selection {
  background-color: lighten(map-get($colors, secondary), 10%);
}

#content {
  width: map-get($breakpoint-content-sizes, large);
  margin: $header-height + 1.5rem auto 1.5rem auto;
  padding: 0 1.5rem;

  @include break(medium) {
    width: map-get($breakpoint-content-sizes, medium);
  }

  @include break(small) {
    width: map-get($breakpoint-content-sizes, small);
  }
}
