@import '../../globals';
@import '../Header/Header';

// TODO fonts:
// + Rubik Mono One
// + Kaushan Script

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

  min-width: map-get($content-sizes, small);
  margin: 0;
  padding-top: $header-height + 0.5rem;

  @include break(medium) {
    font-size: 1.4rem;
  }

  @include break(small) {
    font-size: 1.3rem;
  }
}

::selection {
  background-color: lighten(map-get($colors, secondary), 10%);
}

@mixin header-sizes($large-size, $medium-size, $small-size) {
  font-size: $large-size;
  line-height: $large-size;
  margin-top: $large-size * 2/3;

  @include break(medium) {
    font-size: $medium-size;
    line-height: $medium-size;
    margin-top: $medium-size * 2/3;
  }

  @include break(small) {
    font-size: $small-size;
    line-height: $small-size;
    margin-top: $small-size * 2/3;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include reset-margin-and-padding;
  font-family: 'Baloo Bhaina', cursive;
  font-weight: 500;
}

h1 { @include header-sizes(3.5rem, 3.25rem, 3rem); }
h2 { @include header-sizes(3rem, 2.75rem, 2.5rem); }
h3 { @include header-sizes(2.5rem, 2.25rem, 2rem); }
h4 { @include header-sizes(2rem, 1.75rem, 1.5rem); }
h5 { @include header-sizes(1.5rem, 1.25rem, 1rem); }
h6 { @include header-sizes(1rem, 0.9rem, 0.8rem); }

p {
  @include reset-margin-and-padding;

  margin: 0.8rem 0;
}

a {
  color: map-get($colors, primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  @include reset-margin-and-padding;

  margin: 1rem 0;

  border: none;
  border-bottom: 1px solid #ccc;

  clear: both;

  &.wide-divider {
    background: linear-gradient(90deg, map-get($colors, primary), map-get($colors, secondary));

    border: none;

    height: 8px;
  }
}

.content {
  width: map-get($content-sizes, large);
  margin: 1.5rem auto;
  padding: 0 1.5rem;

  @include break(medium) {
    width: map-get($content-sizes, medium);
  }

  @include break(small) {
    width: map-get($content-sizes, small);
  }
}

.side-note {
  font-size: 1rem;
}

.arrow {
  font-family: 'Rubik Mono One', cursive;
}
